.parent{
    background:linear-gradient(#7ec8e3 , #0a5c8a );
    padding:20px;
}

.header{
    color:#0b3d5c;
    text-align: center;
}

.header2{
    background-color: #0b3d5c ;
    color:#FFFFFF ;
    border-radius: 10px;
}

.container{
    background-color: white;
    border-radius: 10px;
}

.body{
    display: flex;
    gap:10px;
}

p::first-letter{
    font-size: 3.2em;
    color:#0b3d5c ;
}

.img{
    border-radius: 8px;
}